<!DOCTYPE html>
<html>
  <head>
    <title>Bookers4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/3149c1c8b5.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="bg-dark">
        <div class="header container">
            <a href="/">Bookers</a>
            <li>
              <i class="fa-solid fa-house"></i>
              <%= link_to "Home", "/" %>
            </li>
          <% if user_signed_in? %>
            <li  class="nav-item">
              <i class="fa-solid fa-users"></i>
              <%= link_to "Users",  'users' %>
            </li>
            <li class="nav-item">
              <i class="fa-solid fa-book-open"></i>
              <%= link_to "Books", "books" %>
            </li>
            <li class="nav-item">
              <i class="fa-solid fa-right-from-bracket"></i>
              <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li class="nav-item">
              <i class="fa-solid fa-link"></i>
              <%= link_to "About", about_path %>
            </li>
            <li class="nav-item">
              <i class="fa-solid fa-user-plus"></i>
              <%= link_to "Sign up", new_user_registration_path %>
            </li>
            <li class="nav-item">
              <i class="fa-solid fa-right-to-bracket"></i>
              <%= link_to "Log in", new_user_session_path %>
            </li>
          <% end %>
        </div>
      </nav>
    </header>
   
    <%= yield %>
    
     <footer>
      <p>CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
